<!DOCTYPE html>
<html>
<head>
	<title>Teste Hit</title>
	<link rel="shortcut icon" href="//static-public.klickpages.com.br/uploads/media/file/3270999/avatar-face.png">
	<link rel='stylesheet' href='/public/stylesheets/bootstrap/bootstrap.css' />
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css' />
	<link rel='stylesheet' href='/public/stylesheets/style.css' />
	<script src="/public/javascripts/jquery.min.js"></script>
	<script src="/public/javascripts/jquery.mask.js"></script>
	<script src="/public/javascripts/bootstrap/bootstrap.min.js"></script>
	<script src="/public/javascripts/bootstrap/bootstrap-datepicker.min.js"></script>
	<script src="/public/locales/bootstrap-datepicker.pt-BR.min.js"></script>
	<script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
	 <script type="application/javascript" src= "/public/javascripts/my-tinymce-config.js"></script>


	<script src="/public/javascripts/main.js"></script>
	<meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>	


	<div class="loader none" id="padrao-loader">
		<div class="loader-container normal-loader">
			<i class="fas fa-spinner fa-pulse fa-5x fa-fw"></i>
		</div>
	</div>

	<div class="text-center">
		<img class="logo" src="/public/images/logo.png">
	</div>

	<div class="text-center">
		<a class="btn-menu gradient-p" href="/">Introdução</a>
		<a class="btn-menu gradient-p" href="/contato">Contato</a>
	</div>

